*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* --- GRID --- */
.row {
  margin-bottom: 5px;
  *zoom: 1; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

[class*='col-'] {
  float: left;
  width: 100%; }

@media only screen and (max-width: 40.063em) {
  .row [class*='-m_1'] {
    width: 8.33333%; }
  .row [class*='-m_2'] {
    width: 16.66667%; }
  .row [class*='-m_3'] {
    width: 25%; }
  .row [class*='-m_4'] {
    width: 33.33333%; }
  .row [class*='-m_5'] {
    width: 41.66667%; }
  .row [class*='-m_6'] {
    width: 50%; }
  .row [class*='-m_7'] {
    width: 58.33333%; }
  .row [class*='-m_8'] {
    width: 66.66667%; }
  .row [class*='-m_9'] {
    width: 75%; }
  .row [class*='-m_10'] {
    width: 83.33333%; }
  .row [class*='-m_11'] {
    width: 91.66667%; }
  .row [class*='-m_12'] {
    width: 100%; } }

@media only screen and (min-width: 40.064em) and (max-width: 64.062em) {
  .row [class*='-t_1'] {
    width: 8.33333%; }
  .row [class*='-t_2'] {
    width: 16.66667%; }
  .row [class*='-t_3'] {
    width: 25%; }
  .row [class*='-t_4'] {
    width: 33.33333%; }
  .row [class*='-t_5'] {
    width: 41.66667%; }
  .row [class*='-t_6'] {
    width: 50%; }
  .row [class*='-t_7'] {
    width: 58.33333%; }
  .row [class*='-t_8'] {
    width: 66.66667%; }
  .row [class*='-t_9'] {
    width: 75%; }
  .row [class*='-t_10'] {
    width: 83.33333%; }
  .row [class*='-t_11'] {
    width: 91.66667%; }
  .row [class*='-t_12'] {
    width: 100%; } }

@media only screen and (min-width: 64.063em) {
  .row [class*='-d_1'] {
    width: 8.33333%; }
  .row [class*='-d_2'] {
    width: 16.66667%; }
  .row [class*='-d_3'] {
    width: 25%; }
  .row [class*='-d_4'] {
    width: 33.33333%; }
  .row [class*='-d_5'] {
    width: 41.66667%; }
  .row [class*='-d_6'] {
    width: 50%; }
  .row [class*='-d_7'] {
    width: 58.33333%; }
  .row [class*='-d_8'] {
    width: 66.66667%; }
  .row [class*='-d_9'] {
    width: 75%; }
  .row [class*='-d_10'] {
    width: 83.33333%; }
  .row [class*='-d_11'] {
    width: 91.66667%; }
  .row [class*='-d_12'] {
    width: 100%; } }

.socialr_each {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  position: relative;
  height: 30px; }
  .socialr_each a {
    color: #FFF;
    display: inline-block;
    vertical-align: middle;
    line-height: 30px;
    text-decoration: none;
    height: 30px;
    font-size: 0.8em;
    padding: 0; }
    .socialr_each a:visited {
      color: #FFF; }
    .socialr_each a i {
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      font-size: 1.4em;
      float: left; }
    .socialr_each a span {
      padding: 0 10px; }

.socialr_count {
  float: right;
  background: #EEE;
  margin-left: 5px;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  display: none;
  position: relative;
  font-size: 1em;
  font-weight: 100; }
  .socialr_count:before {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 3px 5px 3px 0;
    border-color: transparent #EEE transparent transparent;
    position: absolute;
    top: 12px;
    left: -5px; }

.socialr_twitter {
  background-color: #00aced; }
  .socialr_twitter:hover {
    background-color: #0074a1; }

.socialr_facebook {
  background-color: #3b5998; }
  .socialr_facebook:hover {
    background-color: #263961; }

.socialr_linkedin {
  background-color: #007bb6; }
  .socialr_linkedin:hover {
    background-color: #00476a; }

.socialr_googleplus {
  background-color: #dd4b39; }
  .socialr_googleplus:hover {
    background-color: #ac2d1e; }

/* Typography */
body {
  font-family: "Hind", sans-serif;
  font-size: 1em; }

h1, h2, h3, h4, h5, h6 {
  color: #222;
  font-family: "Hind", sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1rem; }

h5 {
  font-size: 1rem; }

h6 {
  font-size: 1rem; }

a, a:visited {
  color: #2c5c99; }

blockquote {
  margin: 0 0 0 1.5em;
  padding: 0 1.5em 0 0;
  font-style: italic; }
  blockquote p {
    border-left: 2px solid #eee;
    padding: 0.75em 1.5em; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 0.7em;
  white-space: pre;
  word-wrap: break-word; }

pre.prettyprint {
  -webkit-font-smoothing: antialiased;
  display: block;
  padding: 1.4em !important;
  border: 1px solid #EEE !important;
  border-radius: 5px;
  line-height: 1.6em; }
  pre.prettyprint .com {
    color: #999; }

code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 80%;
  white-space: nowrap;
  background: #F7F7F7;
  border: 1px solid #EEE;
  border-radius: 4px; }

button,
a.btn,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  border-radius: 0;
  border: 0;
  border: 2px solid #CCC;
  background-color: #FFF;
  color: #CCC;
  font-family: "Hind", sans-serif;
  text-transform: uppercase;
  font-size: 0.9em;
  padding: 1em 1.5em 0.8em 1.5em;
  font-weight: 700;
  margin-bottom: 5px;
  -webkit-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -o-transition: all 100ms linear;
  transition: all 100ms linear; }
  button:hover, button:focus, button:active,
  a.btn:hover,
  a.btn:focus,
  a.btn:active,
  input[type="button"]:hover,
  input[type="button"]:focus,
  input[type="button"]:active,
  input[type="reset"]:hover,
  input[type="reset"]:focus,
  input[type="reset"]:active,
  input[type="submit"]:hover,
  input[type="submit"]:focus,
  input[type="submit"]:active {
    border-color: #000;
    color: #000; }
  button[disabled], button.disabled,
  a.btn[disabled],
  a.btn.disabled,
  input[type="button"][disabled],
  input[type="button"].disabled,
  input[type="reset"][disabled],
  input[type="reset"].disabled,
  input[type="submit"][disabled],
  input[type="submit"].disabled {
    background: #EEE;
    color: #CCC; }
    button[disabled]:hover, button[disabled]:focus, button[disabled]:active, button.disabled:hover, button.disabled:focus, button.disabled:active,
    a.btn[disabled]:hover,
    a.btn[disabled]:focus,
    a.btn[disabled]:active,
    a.btn.disabled:hover,
    a.btn.disabled:focus,
    a.btn.disabled:active,
    input[type="button"][disabled]:hover,
    input[type="button"][disabled]:focus,
    input[type="button"][disabled]:active,
    input[type="button"].disabled:hover,
    input[type="button"].disabled:focus,
    input[type="button"].disabled:active,
    input[type="reset"][disabled]:hover,
    input[type="reset"][disabled]:focus,
    input[type="reset"][disabled]:active,
    input[type="reset"].disabled:hover,
    input[type="reset"].disabled:focus,
    input[type="reset"].disabled:active,
    input[type="submit"][disabled]:hover,
    input[type="submit"][disabled]:focus,
    input[type="submit"][disabled]:active,
    input[type="submit"].disabled:hover,
    input[type="submit"].disabled:focus,
    input[type="submit"].disabled:active {
      border-color: #CCC;
      color: #CCC;
      cursor: default; }
  button.lrg,
  a.btn.lrg,
  input[type="button"].lrg,
  input[type="reset"].lrg,
  input[type="submit"].lrg {
    padding: 1.5em 2em 1.3em 2em; }
  button.sml,
  a.btn.sml,
  input[type="button"].sml,
  input[type="reset"].sml,
  input[type="submit"].sml {
    padding: 0.5em 1em 0.3em 1em; }
  button.full,
  a.btn.full,
  input[type="button"].full,
  input[type="reset"].full,
  input[type="submit"].full {
    width: 100%;
    padding: 0.5em auto 0.3em auto;
    text-align: center; }
  button.primary,
  a.btn.primary,
  input[type="button"].primary,
  input[type="reset"].primary,
  input[type="submit"].primary {
    color: hotpink;
    border-color: hotpink; }
    button.primary:hover, button.primary:focus, button.primary:active,
    a.btn.primary:hover,
    a.btn.primary:focus,
    a.btn.primary:active,
    input[type="button"].primary:hover,
    input[type="button"].primary:focus,
    input[type="button"].primary:active,
    input[type="reset"].primary:hover,
    input[type="reset"].primary:focus,
    input[type="reset"].primary:active,
    input[type="submit"].primary:hover,
    input[type="submit"].primary:focus,
    input[type="submit"].primary:active {
      border-color: #ff369b;
      color: #ff369b; }
  button.secondary,
  a.btn.secondary,
  input[type="button"].secondary,
  input[type="reset"].secondary,
  input[type="submit"].secondary {
    color: lightskyblue;
    border-color: lightskyblue; }
    button.secondary:hover, button.secondary:focus, button.secondary:active,
    a.btn.secondary:hover,
    a.btn.secondary:focus,
    a.btn.secondary:active,
    input[type="button"].secondary:hover,
    input[type="button"].secondary:focus,
    input[type="button"].secondary:active,
    input[type="reset"].secondary:hover,
    input[type="reset"].secondary:focus,
    input[type="reset"].secondary:active,
    input[type="submit"].secondary:hover,
    input[type="submit"].secondary:focus,
    input[type="submit"].secondary:active {
      border-color: #56baf8;
      color: #56baf8; }
  button.tertiary,
  a.btn.tertiary,
  input[type="button"].tertiary,
  input[type="reset"].tertiary,
  input[type="submit"].tertiary {
    color: green;
    border-color: green; }
    button.tertiary:hover, button.tertiary:focus, button.tertiary:active,
    a.btn.tertiary:hover,
    a.btn.tertiary:focus,
    a.btn.tertiary:active,
    input[type="button"].tertiary:hover,
    input[type="button"].tertiary:focus,
    input[type="button"].tertiary:active,
    input[type="reset"].tertiary:hover,
    input[type="reset"].tertiary:focus,
    input[type="reset"].tertiary:active,
    input[type="submit"].tertiary:hover,
    input[type="submit"].tertiary:focus,
    input[type="submit"].tertiary:active {
      border-color: #004d00;
      color: #004d00; }
  button.icon i,
  a.btn.icon i,
  input[type="button"].icon i,
  input[type="reset"].icon i,
  input[type="submit"].icon i {
    margin: 0 20px; }
  button.icon-left i,
  a.btn.icon-left i,
  input[type="button"].icon-left i,
  input[type="reset"].icon-left i,
  input[type="submit"].icon-left i {
    float: left;
    margin-left: 0; }
  button.icon-right i,
  a.btn.icon-right i,
  input[type="button"].icon-right i,
  input[type="reset"].icon-right i,
  input[type="submit"].icon-right i {
    float: right;
    margin-right: 0; }

.btn {
  display: inline-block;
  text-decoration: none; }

/* Forms */
form hr {
  visibility: hidden; }

input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  max-width: 100%;
  font-family: "Hind", sans-serif; }

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="number"],
input[type="date"],
input[type="time"],
input[type="range"] {
  width: 100%;
  outline: none;
  background: #FFF;
  border: 2px solid #EEE;
  border-radius: 3px;
  color: #adadad;
  padding: 0.5em;
  margin-bottom: 5px; }
  input[type="text"]:hover,
  input[type="email"]:hover,
  input[type="password"]:hover,
  input[type="search"]:hover,
  input[type="tel"]:hover,
  input[type="url"]:hover,
  input[type="number"]:hover,
  input[type="date"]:hover,
  input[type="time"]:hover,
  input[type="range"]:hover {
    border-color: #DDD; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="url"]:focus,
  input[type="number"]:focus,
  input[type="date"]:focus,
  input[type="time"]:focus,
  input[type="range"]:focus {
    border-color: #85B7D9;
    color: #606060; }
  input[type="text"][disabled], input[type="text"][readonly],
  input[type="email"][disabled],
  input[type="email"][readonly],
  input[type="password"][disabled],
  input[type="password"][readonly],
  input[type="search"][disabled],
  input[type="search"][readonly],
  input[type="tel"][disabled],
  input[type="tel"][readonly],
  input[type="url"][disabled],
  input[type="url"][readonly],
  input[type="number"][disabled],
  input[type="number"][readonly],
  input[type="date"][disabled],
  input[type="date"][readonly],
  input[type="time"][disabled],
  input[type="time"][readonly],
  input[type="range"][disabled],
  input[type="range"][readonly] {
    color: #EEE;
    background-color: #F7F7F7;
    border-color: #EEE; }
    input[type="text"][disabled]:hover, input[type="text"][readonly]:hover,
    input[type="email"][disabled]:hover,
    input[type="email"][readonly]:hover,
    input[type="password"][disabled]:hover,
    input[type="password"][readonly]:hover,
    input[type="search"][disabled]:hover,
    input[type="search"][readonly]:hover,
    input[type="tel"][disabled]:hover,
    input[type="tel"][readonly]:hover,
    input[type="url"][disabled]:hover,
    input[type="url"][readonly]:hover,
    input[type="number"][disabled]:hover,
    input[type="number"][readonly]:hover,
    input[type="date"][disabled]:hover,
    input[type="date"][readonly]:hover,
    input[type="time"][disabled]:hover,
    input[type="time"][readonly]:hover,
    input[type="range"][disabled]:hover,
    input[type="range"][readonly]:hover {
      border-color: #EEE; }
  input[type="text"][required],
  input[type="email"][required],
  input[type="password"][required],
  input[type="search"][required],
  input[type="tel"][required],
  input[type="url"][required],
  input[type="number"][required],
  input[type="date"][required],
  input[type="time"][required],
  input[type="range"][required] {
    background-image: radial-gradient(red 20%, transparent 25%);
    background-size: 1em 1em;
    background-position: top right;
    background-repeat: no-repeat; }

textarea {
  overflow: auto;
  vertical-align: top;
  width: 100%;
  padding: 0.5em;
  background: #FFF;
  border: 2px solid #EEE;
  border-radius: 2px;
  color: #CCC;
  outline: none;
  line-height: 2em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  textarea:hover {
    border-color: #DDD; }
  textarea:focus {
    border-color: #85B7D9;
    color: #606060; }
  textarea[disabled], textarea[readonly] {
    color: #CCC;
    background-color: #F7F7F7;
    border-color: #EEE; }
    textarea[disabled]:hover, textarea[readonly]:hover {
      border-color: #EEE; }

select {
  width: 100%;
  padding: 0.5em;
  background: #FFF;
  border: 2px solid #EEE;
  border-radius: 3px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  select:focus {
    border-color: #85B7D9;
    color: #606060; }

input[type="radio"] {
  display: none; }
  input[type="radio"] + label {
    width: 100%;
    display: block;
    margin-right: 10px;
    margin-bottom: 10px; }
  input[type="radio"] + label span {
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    background-color: #FFF;
    border-radius: 30px;
    border: 2px solid #000;
    margin-right: 8px;
    margin-top: -1px; }
    input[type="radio"] + label span i {
      display: none; }
  input[type="radio"]:checked + label span i {
    display: block;
    width: 100%;
    font-size: 0.7em;
    text-align: center;
    margin-top: 2px; }

input[type="checkbox"] {
  display: none; }
  input[type="checkbox"] + label {
    width: 100%;
    display: block;
    margin-right: 10px;
    margin-bottom: 10px; }
  input[type="checkbox"] + label span {
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    background-color: #FFF;
    border: 2px solid #000;
    margin-right: 8px;
    margin-top: -1px; }
    input[type="checkbox"] + label span i {
      display: none; }
  input[type="checkbox"]:checked + label span i {
    display: block;
    width: 100%;
    font-size: 0.7em;
    text-align: center;
    margin-top: 2px; }

/*.success, :valid {
    //background-color: #F2FFF4;
}

.error, :invalid {
    background-color: #FFF3F1;
}*/
table {
  border: 0;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0; }
  table thead {
    border-bottom: 2px solid #EEE; }
  table tfoot {
    border-top: 2px solid #EEE; }
    table tfoot td {
      border-bottom: 0;
      font-weight: bold; }
  table th, table td {
    padding: 0.5em;
    text-align: left;
    border-bottom: 1px solid #EEE; }
    table th:first-child, table td:first-child {
      padding-left: 0; }
    table th:last-child, table td:last-child {
      padding-right: 0; }

.table-striped thead tr, .table-striped tfoot tr {
  background-color: #FFF !important; }

.table-striped tr:nth-child(odd) {
  background: #F7F7F7; }

.table-striped tr:nth-child(even) {
  background-color: #FFF; }

.table-striped th, .table-striped td {
  padding: 0.5em !important; }

img {
  max-width: 100%; }

.img-round {
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%); }

.img-diamond {
  -webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%); }

.img-triangle {
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%); }

.img-pentagon {
  -webkit-clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%); }

.img-hexagon {
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); }

.img-octagon {
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%); }

figure {
  margin: 0;
  padding: 0; }
  figure figcaption {
    font-style: italic;
    border-top: 1px solid #EEE;
    padding: 10px;
    text-align: center; }

.demo-section {
  max-width: 80%;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #EEE;
  padding: 50px 0; }
  .demo-section .demo-title {
    font-size: 1em;
    text-transform: uppercase; }
  .demo-section .demo-subtitle {
    font-size: 1em;
    margin-bottom: 10px; }
  .demo-section .demo-subsubtitle {
    font-size: 0.8em;
    margin-bottom: 10px;
    text-transform: uppercase; }
  .demo-section .demo-eg {
    padding: 10px 40px 40px 0; }
  .demo-section .demo-grid [class*='col-'] {
    background-color: #EEE; }
  .demo-section .demo-images img {
    margin: 20px; }
