// FONTS
$font-body: 'Hind', sans-serif;
//$font-body: 'Open Sans', sans-serif;
$font-headers: 'Hind', sans-serif;
$font-buttons: 'Hind', sans-serif;

// COLORS
$primary-color: hotpink;
$secondary-color: lightskyblue;
$tertiary-color: green;
$lightgrey: #CCC;
$black: #000;
$white: #FFF;