$border: 2px solid $lightgrey;
$border-radius: 5px;
$line-height: 44px;
$padding: 0.5em 1.5em 0.3em 1.5em;
$padding-sml: 0.3em 0.8em 0.1em 0.8em;
$padding-lrg:  1em 2em 0.8em 2em;
$text-transform: uppercase;
$font-size: 0.9em;
$font-weight: 700;
$margin: 0 0 5px 0;
$color: $lightgrey;

button,
a.btn,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    
    border-radius: $border-radius;
    border: $border;
    background-color: $white;
    color: $color;
    font-family: $font-buttons;
    text-transform: $text-transform;
    font-size: $font-size;
    padding: $padding;
    font-weight: $font-weight;
    margin: $margin;
    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    transition: all 100ms linear;
    display: inline-block;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
        border-color: $black;
        color: $black;
        cursor: pointer;
    }
    
    &[disabled], &.disabled {
        background: lighten($lightgrey, 10%);
        color: $lightgrey;
        &:hover,
        &:focus,
        &:active {
            border-color: $lightgrey;
            color: $lightgrey;
            cursor: default;
        }
    }

    &.lrg {
        padding: $padding-lrg;
    }
    
    &.sml {
        padding: $padding-sml;
    }
    
    &.full {
        width: 100%;
        padding: 0.5em auto 0.3em auto;
        text-align: center;
    }

    &.primary {
        border-color: $primary-color;
        color: $primary-color;
        &:hover,
        &:focus,
        &:active {
            border-color: darken($primary-color, 10%);
            color: darken($primary-color, 10%);
        }
    }
    
    &.secondary {
        border-color: $secondary-color;
        color: $secondary-color;
        &:hover,
        &:focus,
        &:active {
            border-color: darken($secondary-color, 10%);
            color: darken($secondary-color, 10%);
        }
    }
    
    &.tertiary {
        border-color: $tertiary-color;
        color: $tertiary-color;
        &:hover,
        &:focus,
        &:active {
            border-color: darken($tertiary-color, 10%);
            color: darken($tertiary-color, 10%);
        }
    }
    
    &.icon {
        i {
            margin: 3px 20px 0 20px;
        }
        &-left {
            i{
                float: left;
                margin-left: 0;
            }
        }
        &-right {
            i{
                float: right;
                margin-right: 0;
            }
        }
        
    }
}
