button,
a.btn,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    border-radius: 0;
    border: 0;
    border: 2px solid #CCC;
    background-color: #FFF;
    color: #CCC;
    font-family: $font-buttons;
    text-transform: uppercase;
    font-size: 0.9em;
    padding: 1em 1.5em 0.8em 1.5em;
    font-weight: 700;
    margin-bottom: 5px;
    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    transition: all 100ms linear;

    &:hover,
    &:focus,
    &:active {
        border-color: #000;
        color: #000;
    }
    &[disabled], &.disabled {
        background: #EEE;
        color: #CCC;
        &:hover,
        &:focus,
        &:active {
            border-color: #CCC;
            color: #CCC;
            cursor: default;
        }
    }

    &.lrg {
        padding: 1.5em 2em 1.3em 2em;
    }
    
    &.sml {
        padding: 0.5em 1em 0.3em 1em;
    }
    
    &.full {
        width: 100%;
        padding: 0.5em auto 0.3em auto;
        text-align: center;
    }

    &.primary {
        color: hotpink;
        border-color: hotpink;
        &:hover,
        &:focus,
        &:active {
            border-color: darken(hotpink, 10%);
            color: darken(hotpink, 10%);
        }
    }
    
    &.secondary {
        color: lightskyblue;
        border-color: lightskyblue;
        &:hover,
        &:focus,
        &:active {
            border-color: darken(lightskyblue, 10%);
            color: darken(lightskyblue, 10%);
        }
    }
    
    &.tertiary {
        color: green;
        border-color: green;
        &:hover,
        &:focus,
        &:active {
            border-color: darken(green, 10%);
            color: darken(green, 10%);
        }
    }
    
    &.icon {
        i {
            margin: 0 20px;
        }
        &-left {
            i{
                float: left;
                margin-left: 0;
            }
        }
        &-right {
            i{
                float: right;
                margin-right: 0;
            }
        }
        
    }
}

.btn {
    display: inline-block;
    text-decoration: none;
}