/* --- GRID --- */

// Row 
.row {
    margin-bottom: 5px;
    *zoom: 1;
    &:before, 
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
    
}

// Columns
[class*='col-'] {
    float: left;
    width: 100%;
}

// Centered
[class*='-centered'] {
    float: none!important;
    margin: 0 auto!important;
}

// Classes
@include respond-to(mobile) {
    @include grid-columns(12,m);
    .row [class*='-m_'] {
        //background: green;
    }  
}

@include respond-to(tablet) {
    @include grid-columns(12,t);
    .row [class*='-t_'] {
        //background: pink;
    }
}

@include respond-to(desktop) {
    @include grid-columns(12,d);
    .row [class*='-d_'] {
        //background: blue;
    }
}